- title "ambience - app configuration feat. yaml and jvm properties"

%h1.ambience ambience
%h2 app configuration feat. yaml and jvm properties

%ul
  %li= link_to "documentation", "http://rdoc.info/projects/rubiii/ambience"
  %li= link_to "github", "http://github.com/rubiii/ambience"
  %li= link_to "rubygems", "http://rubygems.org/gems/ambience"