body { background:#141414 url(/images/background.png) no-repeat; color:#e9e6ae; font:14px/22px georgia,times,serif; margin-left:86px; }

/* headlines */

h1 { font:bold italic 100px/40px Dubtronic,Georgia,serif; margin:233px 0 25px 0; }

h2, h3 { color:#3c9184; font-style:italic; }
	h2 { margin-bottom:30px; }
	h3 { clear:both; font-size:16px; letter-spacing:0.07em; padding:30px 0 10px; }
		h3.articles { padding-top:60px; }

h4 { clear:both; margin-left:20px; }
	h4 a:link, h4 a:visited, h4 a:hover, h4 a:active { color:#8bc00b; display:block; float:left; }
	h4 strong { border-left:1px solid #2a2c2b; float:left; margin-left:15px; padding-left:30px; }

/* elements */

a:link, a:visited { color:#e9e6ae; text-decoration:underline; }
a:hover, a:active { color:#e9e6ae; text-decoration:none; }

p { margin-left:20px; }
p.first { margin-top:30px; }

ul { margin-left:20px; }
	li { border-right:1px solid #2a2c2b; display:block; float:left; margin-right:15px; padding-right:30px; }
	li.last { border:0; margin:0; padding:0; }

/* fonts */

@font-face { font-family:Dubtronic; font-style:italic; src:url(/fonts/Dubtronic-Inline.otf) format("opentype"); }

/* colors */

.green, a.green { color:#8bc00b; }
.blue, a.blue { color:#3c9184; }
.red, a.red { color:#e03517; }

/* useful */

.clear { clear:both; font-size:0; line-height:0; }